{
  "branches": [
    "main"
  ],
  "preset": "conventionalcommits",
  "tagFormat": "v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json"
        ]
      }
    ],
    "@semantic-release/github",
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "pkgRoot": "packages/backstage-plugin-autogov-common",
        "registry": "https://npm.pkg.github.com/"
      }
    ]
  ]
}
